body {
  margin: 0;
  font-family: Montserrat, Geneva, sans-serifased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
